<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-grid style="background-color: #28317C !important">
    <ion-row >
      <ion-col class="ion-padding">
        <div>

            <ion-img class="logo-img" src="../../assets/img/Dimatech/Dimatech.jpg" style="max-width:100%;height:auto;"></ion-img>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding">
        <div>
          <app-slideshow-button></app-slideshow-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
